<h1>营业统计</h1><br/>

<table class="table table-striped">
  <tr>
    <td>今日营业额</td>
    <td>本月营业额</td>
    <td>本季度营业额</td>
  </tr>
  <tr>
    <td>0</td>
    <td>0</td>
    <td>0</td>

  </tr>
</table>

<h1>管理</h1><br/>
<%= link_to '电影管理', films_url, :class=>"btn" %>
<%= link_to '场次管理', tickets_url, :class=>"btn" %>
